<table class="table">
  <thead class="thead">
    <tr class="dark">
      <th class="h3">thumbnail</th>
      <th class="h3">work</th>
      <th class="h3" colspan="2">title</th>
    </tr>
  </thead>
  <tbody class="tbody">
    <% photos.forEach(photo=> { %>
      <tr>
        <td width="100px">
          <img src="<%= photo.url_thumbnail %>" alt="<%= photo.work %>" title="<%=photo.work %>" width="100px">
        </td>
        <td>
          <%= photo.work %>
        </td>
        <td>
          <%= photo.title %>
        </td>
        <td width="20px">
          <button data-api data-method="delete" data-action="/api/photos/<%= photo.id %>"
            data-message="Do you want to delete <%= photo.work %>?">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>


      </tr>

      <% }) %>
  </tbody>
</table>