<main>
  <article>
    <table class="table">
      <caption class="h2">photos <small>(<%= count %>)</small>
      </caption>
      <thead class="thead">
        <tr class="dark">
          <th class="h3">thumbnail</th>
          <th class="h3">work</th>
          <th class="h3">title</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <% photos.forEach(photo=> { %>
          <tr>
            <td>
              <img src="<%= photo.url_thumbnail %>" alt="<%= photo.work %>" title="<%= photo.work %>">
            </td>
            <td>
              <%= photo.work %>
            </td>
            <td>
              <%= photo.title %>
            </td>
          </tr>

          <% }) %>
      </tbody>
    </table>
  </article>
  <aside>
    <h3 class="h3"></h3>
  </aside>
</main>