<%- include ('./modalAlert') %>
  <main>
    <article>
      <table class="table">
        <caption class="h2">authors <small>(<%= count %>)</small>
        </caption>
        <thead class="thead">
          <tr class="dark">
            <th class="h3">name <small><a href="/authors?sort=lname"><i class="fa-solid fa-arrow-up"></i></a> <a
                  href="/authors?sort=-lname"><i class="fa-solid fa-arrow-down"></i></a></small></th>
            <th class="h3" colspan="2">birthday <small><a href="/authors?sort=dob"><i
                    class="fa-solid fa-arrow-up"></i></a> <a href="/authors?sort=-dob"><i
                    class="fa-solid fa-arrow-down"></i></a></small></th>
          </tr>
        </thead>
        <tbody class="tbody">
          <% authors.forEach(author=> { %>

            <tr>
              <td>
                <%= author.fullname %>
              </td>
              <td>
                <%= author.dob_formatted %>
              </td>
              <td width="20px">
                <button data-method="delete" data-action="/api/authors/<%= author.id %>"
                  data-message="Do you want to delete <%= author.fullname %>?">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>

            <% }) %>
        </tbody>
      </table>

    </article>
    <aside>
      <h3 class="h3"></h3>
    </aside>
  </main>