<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/_layout/head') %>

  <body>
    <%- include ('../partials/_layout/header') %>
      <%- include ('../partials/_layout/modalAlert') %>
        <%- include ('../partials/_layout/modalSpinner') %>
          <%- include ('../partials/_layout/modalPreview') %>
            <main class="main">
              <%- include (partialPath) %>
            </main>
            <%- include ('../partials/_layout/footer') %>
  </body>

</html>